* {
    margin: 0;
    padding: 0;
}
.main-container {
    width: 100%;              
}
.cabecera {
    padding-top: 30px;
    width: 80%;    
    margin: 0 auto;        
    font-size: 16px;    
}
.cabecera h1 {
    text-align: center;
}
.main-section__form {
    display: flex;
    width: 98%;
    margin: 0 auto;    
}
.login-box {

    position: absolute;
    width: 310px;
    height: 224px;
    left: 32px;
    top: 166px;
    
    background: #F9F9F9;
    border-radius: 9px;
}
.formulario {    
    width: 98%;
    margin: 0 auto;
    height: 700px;    
    margin: 0 auto
}

.button-login {
    border-radius: 8px;    
    width: 200px;
    margin-top: 20px;    
    background-color: #02499C;
    color: white;
    padding: 10px;    
    border: 0;
}